.navProfile {
  color: #8585ad;
  text-decoration: none;
  height: 64px;
}

.activeNavProfile {
  color: #f2f2f3;
}

.mainContainer {
  display: flex;
  margin-top: 124px;
}

.navLinkContainer {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  align-items: flex-start;
  padding-right: 60px;
}

.formContainer {
  min-width: 480px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}
