.mainContainer {
  display: flex;
  flex-direction: column;
}

.ordersContainer {
  display: flex;
}

.containersWrapper {
  display: flex;
}

.cardItem {
  list-style-type: none;
}

.statsContainer {
  min-width: 580px;
}

.ordersContainer {
  min-width: 608px;
}

.title {
  text-align: start;
}

.totalCount {
  display: flex;
}

.orderIdWrapper {
  display: flex;
  justify-content: space-between;
}

.cardsList {
  width: 100%;
}

.image {
  width: 64px;
  height: 64px;
  border-radius: 100px;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statsContainer {
  display: flex;
}

.ordersNumber {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.doneOrderNumber {
  color: #00cccc;
}
