.ingredientImage {
  width: 480px;
  height: 240px;
}

.ingredientNutrition {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nutritionInfo {
  color: #8585ad;
}

.ingredientContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  min-width: 640px;
}

.nutritionInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
